<tr>
  <td><%= account.ship_date %></td>
  <td><%= account.invoice_number %></td>
  <td><%= account.route_number %></td>
  <td><%= account.customer_id %></td>
  <td><%= account.customer %></td>
  <td>$<%= account.amount_owed %></td>
  <td><%= account.extra %></td>
</tr>
