<!DOCTYPE html>
<html>
  <head>
    <title>CodForms</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/v4-shims.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="top_bar flex">
      <section class="right-nav nav flex">
        <span>COD Form Input</span>
      </section>
      <section class="mid-nav nav">
        <% if user_signed_in? %>
          <div class="flex user_disp">
            <i class="fas fa-user-circle"></i>
            <span class="username flex">
              <%= current_user.username %>
            </span>
          </div>
        <% end %>
      </section>
      <section class="left-nav nav flex">
        <ul class="flex">
          <li class="flex hover">
            <a href="/">Enter New Date/Location</a>
          </li>
          <% if user_signed_in? %>
          <li class="flex">
            <%= link_to('Logout', destroy_user_session_path, method: :delete ) %>
          </li>
          <% end %>
        </ul>
      </section>
    </nav>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
