
  <form class="account_form" action="<%= account_path(id: account.id, date: params[:account_attr][:date], location: params[:account_attr][:location]) %>" method="POST">
    <input type="hidden" name="_method" value="<%= :patch %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <td><%= account.ship_date.strftime("%m/%d/%Y") %></td>
    <td><%= account.invoice_number %></td>
    <td><%= account.route_number %></td>
    <td><%= account.customer_id %></td>
    <td><%= account.customer %></td>
    <td><%= account.amount_owed %></td>
    <td><%= account.extra %></td>

    <%# amount_received %>
    <td>
      <input class="amount_received" type="number" name="account[amount_received]" value="<%= account.amount_received ? account.amount_received : 0 %>">
    </td>

    <%# amount_credit %>
    <% if current_user.role == "accounting" %>
      <td>
        <input class="amount_credit" type="number" name="account[amount_credit]" value="<%= account.amount_credit || 0 %>">
      </td>
    <% end %>

    <%# received_as_cash_or_check %>
    <td>
      <input class="received_as_cash_or_check" type="number" name="account[received_as_cash_or_check]" value="<%= account.received_as_cash_or_check || 0 %>">
    </td>

    <%# logistics_agent_initials %>
    <td>
      <input class="logistics_agent_initials" type="text" name="account[logistics_agent_initials]" value="<%= account.logistics_agent_initials.upcase || ""  %>">
    </td>

    <%# reason_code %>
    <td>
      <select class="reason_code" name="account[reason_code]">
        <option value="#">option1</option>
        <option value="#">option2</option>
        <option value="#">option3</option>
      </select>
    </td>

    <%# reason_details %>
    <td>
      <textarea
      class="reason_details"
      name="account[reason_details]"
      cols="20"
      rows="1"
      value="<%= account.reason_details || "" %>"></textarea>
    </td>

    <%# completed %>
    <td>
      <% if !account.completed %>
        <input class="completed" type="checkbox" name="account[completed]" value="true" >
      <% else %>
        <input class="completed" type="checkbox" name="account[completed]" value="true" checked="checked" >
      <% end %>
    </td>

    <td>
      <%= account.location.upcase %>
    </td>

    <td class="submit">
      <input type="submit" value="Submit">
    </td>
  </form>

  <script type="text/javascript">
    $('textarea.reason_details').focus(function () {
      $(this).animate({rows: '4'}, 150);
    });
    $('textarea.reason_details').focusout(function () {
      $(this).animate({rows: '1'}, 150);
    });
  </script>
