
  <tr id="<%= account.id %>" class="row<%= idx %> rows">
    <td><%= account.ship_date.strftime("%m/%d/%Y") %></td>
    <td><%= account.invoice_number %></td>
    <td><%= account.route_number %></td>
    <td><%= account.customer_id %></td>
    <td><%= account.customer %></td>
    <td><%= account.amount_owed %></td>
    <td><%= account.extra %></td>

    <%# hidden input for id %>

    <input
    type="hidden"
    name="accounts[accounts][]account[id]"
    value="<%= account.id %>">


    <%# amount_received %>

    <td>
      <input
      class="amount_received"
      type="number"
      step="0.01"
      name="accounts[accounts][]account[amount_received]"
      value="<%= account.amount_received  %>">
    </td>

    <%# amount_credit %>

    <% if current_user.role == "accounting" %>
      <td>
        <input
        class="amount_credit"
        type="number"
        step="0.01"
        name="accounts[accounts][]account[amount_credit]"
        value="<%= account.amount_credit %>">
      </td>
    <% end %>

    <%# received_as_check_or_cash %>

    <td>
      <input
      class="received_as_check_or_cash"
      type="text"
      name="accounts[accounts][]account[received_as_check_or_cash]"
      value="<%= account.received_as_check_or_cash %>">
    </td>

    <%# logistics_agent_initials %>

    <td>
      <input
      class="logistics_agent_initials"
      type="text"
      name="accounts[accounts][]account[logistics_agent_initials]"
      value="<%= account.logistics_agent_initials %>">
    </td>

    <%# reason_code %>

    <td class="reason_select">
      <select
      class="reason_code"
      name="accounts[accounts][]account[reason_code]">
      <% Account.reasons.each do |reason| %>
        <% if account.reason_code == reason %>
          <option selected="selected" value="<%= reason %>"><%= reason %></option>
        <% else %>
          <option value="<%= reason %>"><%= reason %></option>
        <% end %>
      <% end %>
      </select>
    </td>

    <%# reason_detail %>

    <td>
      <textarea
      class="reason_detail"
      name="accounts[accounts][]account[reason_detail]"
      cols="20"
      rows="1"
      ><%= account.reason_detail %></textarea>
    </td>

    <!-- location -->

    <td>
      <%= account.location.upcase %>
    </td>

    <%# accounting_completed %>

      <% if @user_role == "accounting"%>
        <% if account.accounting_completed == false %>
          <td class="checkbox">
            <input class="acc_completed" type="checkbox" name="accounts[accounts][]account[accounting_completed]" value="true">
          </td>

          <td>
            Not Completed
          </td>
        <% else %>
          <td class="checkbox">
            <input class="acc_completed" type="checkbox" name="accounts[accounts][]account[accounting_completed]" checked="checked" value="true" disabled>
          </td>
          <td>
            <%= account.accounting_completed_date %>
          </td>
        <% end %>
      <% end %>


    <% if @user_role == "accounting"%>
        <% if account.logistics_completed == true %>
          <td class="checkbox">
            <input
            readonly = "readonly"
            disabled
            class="log_completed"
            type="checkbox"
            checked
            name="accounts[accounts][]account[<%= @user_role %>_completed]"
            value="true"
            >
          </td>
          <td>
            <%= account.logistics_completed_date %>
          </td>
        <% else %>
          <td class="checkbox">
            <input
            readonly = "readonly"
            disabled
            class="log_completed"
            type="checkbox"
            name="accounts[accounts][]account[<%= @user_role %>_completed]"
            value="true"
            >
          </td>
          <td>
            Not Completed
          </td>
        <% end %>
    <% end %>

  </tr>
