
  <tr id="<%= account.id %>" class="row<%= idx %> rows">
    <td><%= account.ship_date.strftime("%m/%d/%Y") %></td>
    <td><%= account.invoice_number %></td>
    <td><%= account.route_number %></td>
    <td><%= account.customer_id %></td>
    <td><%= account.customer %></td>
    <td><%= account.amount_owed %></td>
    <td><%= account.extra %></td>

    <%# hidden input for id %>

    <input
    type="hidden"
    name="accounts[accounts][]account[id]"
    value="<%= account.id %>">

    <%# amount_received %>

    <td>
      <input
      class="amount_received"
      type="number"
      name="accounts[accounts][]account[amount_received]"
      value="<%= account.amount_received ? account.amount_received : 0 %>">
    </td>

    <%# amount_credit %>

    <% if current_user.role == "accounting" %>
      <td>
        <input
        class="amount_credit"
        type="number"
        name="accounts[accounts][]account[amount_credit]"
        value="<%= account.amount_credit || 0 %>">
      </td>
    <% end %>

    <%# received_as_cash_or_check %>

    <td>
      <input
      class="received_as_cash_or_check"
      type="number"
      name="accounts[accounts][]account[received_as_cash_or_check]"
      value="<%= account.received_as_cash_or_check || 0 %>">
    </td>

    <%# logistics_agent_initials %>

    <td>
      <input
      class="logistics_agent_initials"
      type="text"
      name="accounts[accounts][]account[logistics_agent_initials]"
      value="<%= account.logistics_agent_initials.upcase || ""  %>">
    </td>

    <%# reason_code %>

    <td>
      <select
      class="reason_code"
      name="accounts[accounts][]account[reason_code]">
        <option value="#">option1</option>
        <option value="#">option2</option>
        <option value="#">option3</option>
      </select>
    </td>

    <%# reason_details %>

    <td>
      <textarea
      class="reason_details"
      name="accounts[accounts][]account[reason_details]"
      cols="20"
      rows="1"
      ><%= account.reason_details %></textarea>
    </td>

    <%# accounting_completed %>

      <% if @user_role == "accounting"%>
        <td>
          <input class="acc_completed" type="checkbox" name="accounts[accounts][]account[accounting_completed]" value="true">
        </td>
      <% end %>

    <td>
      <%= account.location.upcase %>
    </td>

    <% if @user_role == "accounting"%>
      <td>
        <% if account.logistics_completed == true %>
        <input
        readonly = "readonly"
        disabled
        class="log_completed"
        type="checkbox"
        checked
        name="accounts[accounts][]account[<%= @user_role %>_completed]"
        value="true"
        >
        <% else %>
        <input
        readonly = "readonly"
        disabled
        class="log_completed"
        type="checkbox"
        name="accounts[accounts][]account[<%= @user_role %>_completed]"
        value="true"
        >
        <% end %>
      </td>
    <% end %>

  </tr>
