<h1>Accounts</h1>

<section id="table_section">
  <% if !@accounts %>
    <span>No Accounts to show for the date given</span>
  <% end %>
  <div class="table_div">
    <form class="account_form" action="<%= update_multiple_path(date: params[:account_attr][:date], location: params[:account_attr][:location]) %>" method="POST">
      <input type="hidden" name="_method" value="<%= :patch %>">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <table>
      <tr>
        <% if !@accounts.empty? %>
          <% @accounts.first.attributes.keys.each do |key| %>
          <% next if @secondary_attr.include?(key) %>
          <% next if ( key == "amount_credit" || key == "logistics_completed" || key == "accounting_completed" ) && current_user.role == "logistics" %>
          <th><%= key.titleize %></th>
          <% end %>
        <% end %>
      </tr>
        <% @accounts.each do |account| %>
          <%= render "row_form.html.erb", account: account %>
        <% end %>
    </table>
    <input type="submit" value="Submit">
  </form>
  </div>
</section>
