<h1>Accounts</h1>
<ul class="nav_links">
  <li>
    <%= link_to "View Report", reports_path( :account_attr => {:date => params[:account_attr][:date], :location => params[:account_attr][:location]} ) %>
  </li>
  <li>
    <%= link_to "View Completed", accounts_path( :account_attr => {:date => params[:account_attr][:date], :location => params[:account_attr][:location]}, :completed => "true" ) %>
  </li>
  <li>
    <%= link_to "View Incomplete", accounts_path( :account_attr => {:date => params[:account_attr][:date], :location => params[:account_attr][:location]}) %>
  </li>
</ul>

<ul id="account_errors">
  <% if flash[:account_errors] %>
    <% flash[:account_errors].keys.each do |id| %>
      <% flash[:account_errors][id].each do |error| %>
        <li class="<%= id %> error_list">
          <%= error %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>

  <% if !@accounts %>
    <span>No Accounts to show for the date given</span>
  <% end %>
  <div class="table_div">
    <form class="account_form" action="<%= update_multiple_path(date: params[:account_attr][:date], location: params[:account_attr][:location]) %>" method="POST">
      <input type="hidden" name="_method" value="<%= :patch %>">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <table>
      <tr>
        <% if !@accounts.empty? %>
          <th>Ship Date</th>
          <th>Invoice Number</th>
          <th>Route Number</th>
          <th>Customer ID</th>
          <th>Customer</th>
          <th>Amount Owed</th>
          <th>Extra</th>
          <th>Amount Received</th>
          <% if @user_role == "accounting" %>
            <th>Amount Credit</th>
          <% end %>
          <th>Received As Check or Cash</th>
          <th>Logistics Agent Initials</th>
          <th>Reason code</th>
          <th>Reason Detail</th>
          <th>Location</th>
          <% if @user_role == "accounting" %>
            <th>Accounting Completed</th>
            <th>Accounting Completed Date</th>
            <th>Logistics Completed</th>
            <th>Logistics Completed Date</th>
          <% end %>
        <% end %>
      </tr>
        <% @accounts.each_with_index do |account, idx| %>
          <%= render "row_form.html.erb", account: account, idx: idx %>
        <% end %>
    </table>
    <input type="submit" value="Submit">
  </form>
  </div>




<script type="text/javascript">

  for (let i = 0; i < 1; i++) {
    let id_arr = [];
    document.querySelectorAll('li.error_list').forEach( (el) => (
    id_arr.push(el.className.split(" ")[0])
    ));
    id_arr.forEach( id => (
    document.getElementById(id).style.backgroundColor = "red"
    ))
  }
  $('textarea.reason_detail').focus(function () {
    $(this).animate({rows: '4'}, 150);
  });
  $('textarea.reason_detail').focusout(function () {
    $(this).animate({rows: '1'}, 150);
  });
</script>
