<h1>Accounts</h1>
<ul class="nav_links">
  <li>
    <%= link_to "View Report", reports_path( :account_attr => {:date => params[:account_attr][:date], :location => params[:account_attr][:location]} ) %>
  </li>
  <li>
    <%= link_to "View Completed", accounts_path( :account_attr => {:date => params[:account_attr][:date], :location => params[:account_attr][:location]}, :completed => "true" ) %>
  </li>
  <li>
    <%= link_to "View Incomplete", accounts_path( :account_attr => {:date => params[:account_attr][:date], :location => params[:account_attr][:location]}) %>
  </li>
</ul>

  <% if !@accounts %>
    <span>No Accounts to show for the date given</span>
  <% end %>
  <div class="table_div">
    <form class="account_form" action="<%= update_multiple_path(date: params[:account_attr][:date], location: params[:account_attr][:location]) %>" method="POST">
      <input type="hidden" name="_method" value="<%= :patch %>">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <table>
      <tr>
        <% if !@accounts.empty? %>
          <% @accounts.first.attributes.keys.each do |key| %>
          <% next if @secondary_attr.include?(key) %>
          <% next if ( key == "amount_credit" || key == "logistics_completed" || key == "accounting_completed" ) && current_user.role == "logistics" %>
          <th><%= key.titleize %></th>
          <% end %>
        <% end %>
      </tr>
        <% @accounts.each_with_index do |account, idx| %>
          <%= render "row_form.html.erb", account: account, idx: idx %>
        <% end %>
    </table>
    <input type="submit" value="Submit">
  </form>
  </div>


<% if flash[:account_errors] %>
  <% flash[:account_errors].keys.each do |id| %>
    <ul id="account_errors">
      <li class="<%= id %> error_list">
        <%= flash[:account_errors][id] %>
      </li>
    </ul>
  <% end %>
<% end %>

<script type="text/javascript">

  for (let i = 0; i < 1; i++) {
    let id_arr = [];
    document.querySelectorAll('li.error_list').forEach( (el) => (
    id_arr.push(el.className.split(" ")[0])
    ));
    id_arr.forEach( id => (
    document.getElementById(id).style.backgroundColor = "red"
    ))
  }
  $('textarea.reason_details').focus(function () {
    $(this).animate({rows: '4'}, 150);
  });
  $('textarea.reason_details').focusout(function () {
    $(this).animate({rows: '1'}, 150);
  });
</script>
